<h1 mat-dialog-title>Master Password</h1>
<div mat-dialog-content>
  <p>
    Enter your Master Password, your data can only be decrypted with this
    password"
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Master Password</mat-label>
    <input
      type="password"
      data-cy="master-password-input"
      matInput
      [(ngModel)]="data"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
