<mat-toolbar>
  <h1><a routerLink="">SolidCryptPad</a></h1>
  <ul>
    <li routerLinkActive="active"><a routerLink="home">Home</a></li>
    <li routerLinkActive="active"><a routerLink="fileEditor">Files</a></li>
  </ul>
  <span class="spacer"></span>
  <button mat-flat-button (click)="login()">LOGIN</button>

  <input
    id="provider"
    type="text"
    list="provider-list"
    placeholder="{{ oidc[0][0] }}"
    [(ngModel)]="selected"
  />
  <datalist id="provider-list">
    <option *ngFor="let provider of oidc" value="{{ provider[0] }}">
      {{ provider[1] }}
    </option>
  </datalist>
</mat-toolbar>
