<mat-toolbar color="accent">
  <h1><a routerLink="">SolidCryptPad</a></h1>
  <ul>
    <li routerLinkActive="active"><a routerLink="home">Home</a></li>
    <li routerLinkActive="active"><a routerLink="fileEditor">Files</a></li>
    <li routerLinkActive="active"><a routerLink="editor">Editor</a></li>
    <li routerLinkActive="active"><a routerLink="faq">FAQ</a></li>
  </ul>
  <span class="spacer"></span>

  <mat-icon style="margin-right: 0.5em">brightness_5</mat-icon>
  <mat-slide-toggle
    style="margin-right: 0.5em"
    [formControl]="toggleControl"
    (change)="toggleDarkMode($event)"
  >
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>
