<p>File URL:</p>
<input type="text" id="fileLink" name="fileLink" #link />
<button type="button" (click)="sendRequest(link.value)">show content</button>
<p>File Content: {{ fileContent }}</p>

<p>New File Content</p>
<input
  type="text"
  id="fileContent"
  name="fileContent"
  [(ngModel)]="newFileContent"
/>
<p>New File URL:</p>
<input type="text" id="sendfileLink" name="sendfileLink" #newLink />
<button type="button" (click)="sendFile(newLink.value)">send content</button>
<p>upload file</p>
<input type="text" id="uploadfileLink" name="uploadfileLink" #uploadLink />
<input type="file" (change)="selectFile($event)" />
<button type="button" (click)="uploadFiles(file, uploadLink.value)">
  send
</button>
