.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.left-half {
  float: left;
  width: 50%;
  height: 100%;
}
.right-half {
  float: left;
  width: 50%;
  height: 100%;
}
