<div class="box">
  <div class="horizontal" *ngIf="!changingDirectory">
    <div *ngFor="let part of directoryFullPathSplitBySlash">
      <h3 *ngIf="part">&nbsp;{{ part }} /</h3>
    </div>
    <button
      mat-icon-button
      style="margin-left: 1rem; margin-top: 0.5rem"
      title="Change directory"
      (click)="toggleChangingDirectory()"
    >
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </div>

  <form *ngIf="changingDirectory">
    <mat-form-field
      style="min-width: 350px"
      class="create-input"
      appearance="standard"
    >
      <mat-label>Change directory</mat-label>
      <input
        type="text"
        id="currentFolderLink"
        matInput
        [formControl]="changeDirectoryToFormControl"
        placeholder="{{ this.currentUrl }}"
      />
    </mat-form-field>
    <mat-error *ngIf="changeDirectoryToFormControl.hasError('required')">
      Folder name is <strong>required</strong>
    </mat-error>

    <button
      mat-raised-button
      folderGo
      id="folderGo"
      color="primary"
      (click)="this.goToFolder(changeDirectoryToFormControl.value)"
      style="margin-left: 1rem"
    >
      Change directory
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="toggleChangingDirectory()"
      style="margin-left: 0.5rem"
    >
      Done
    </button>
  </form>
</div>

<app-tree-nested-explorer></app-tree-nested-explorer>
