.container {
  width: 100%;
  max-width: 850px;
  min-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content {
    width: 100%;
  }
}
.previewText {
  white-space: pre;
  height: auto;
  max-height: 75vh;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  overflow: scroll;
  text-align: justify;
  box-shadow: 10px 5px 5px lightgray;
}

.previewImages {
  margin: 10px;
  padding: 10px;
  border: solid 2px #000000;
  display: inline-block;
  img {
    max-width: 100%;
    height: auto;
  }
}

.editor-button {
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 7px;
}
