<div class="container">
  <div class="content">
    <h3>{{ errorMsg }}</h3>
    <h3>
      Preview from <i>{{ fileUrl }} </i>!
    </h3>
    <button
      *ngIf="fileType.includes('text') && isWriteable"
      (click)="this.open(fileUrl)"
    >
      open in Editor
    </button>

    <div class="previewImages" *ngIf="fileType.includes('image')">
      <img src="{{ imageUrl }}" />
    </div>

    <div class="previewText" *ngIf="fileType.includes('text')">
      <markdown [data]="textFileContent"> </markdown>
    </div>
    <mat-progress-bar
      *ngIf="this.loading"
      mode="indeterminate"
    ></mat-progress-bar>
    <h3 *ngIf="!isWriteable && !loading" style="color: #0074d9">
      You can not edit this file.
    </h3>
  </div>
</div>
