<div class="box">
  <div style="width: 50%">
    <h1>FAQ</h1>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>What is a Solid Pod?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Solid is a specification that lets people store their data securely in
          decentralized data stores called Pods. Pods are like secure personal
          web servers for data. When data is stored in someone's Pod, they
          control which people and applications can access it.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>How can i create a Solid Pod?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          You need to find yourself a so called
          <strong>identity provider</strong> of which there are several. We
          recommend one of the following (you will be redirected away from
          SolidCryptPad).
        </p>

        <mat-list role="list">
          <mat-list-item role="listitem"
            ><a href="https://solidweb.org/">Solidweb</a></mat-list-item
          >
          <mat-list-item role="listitem"
            ><a href="https://solidcommunity.net/"
              >Solid Community</a
            ></mat-list-item
          >
          <mat-list-item role="listitem"
            ><a href="https://inrupt.net/">Inrupt</a></mat-list-item
          >
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Why SolidCryptPad?</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          These days, many documents are written in web based editors such as
          Google Docs. When using these services, users usually do not have the
          choice of where their data is stored.
        </p>

        <p>
          SolidCryptPad offers improvements in terms of security and flexibility
          given that due to the Solid protocol you can freely choose and switch
          your storage provider.
        </p>

        <p>On top of that, everything you do is end-to-end encrypted.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>
              I logged out but I don't need a password to login again, why?
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          The logout behavior of Solid based applications is (currently)
          somewhat counterintuitive. While you might expect that logging out
          from an application means you are completely logged out and need to
          enter your password again next time around, with Solid it is a bit
          different. A logout here means that you are logged out from the
          application but <strong>not from the identity provider</strong> (IDP).
        </p>

        <p>
          This means that to "fully" log out from SolidCryptPad you'd need to
          login on the website of your IDP, go to the settings and revoke all
          permissions of SolidCryptPad. Only then can you log in with a
          different pod. A hacky alternative is, of course, to use a private
          browser tab.
        </p>

        <p>
          We are aware that this is suboptimal, but currently our hands are tied
          due to the specification we have built our application on.
        </p>
        <p>
          For more information on this topic a good starting point is the
          <a href="https://forum.solidweb.org/">Solid Forum</a> which has
          several discussions centered around this topic such as
          <a
            href="https://forum.solidproject.org/t/local-first-offline-and-solid-login/4896"
            >this one</a
          >.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
