<div class="box">
  <mat-tree
    *ngIf="dataSource"
    [dataSource]="dataSource"
    [treeControl]="treeControl"
  >
    <!-- NODE FOR FILES -->
    <mat-tree-node
      id="{{ node.shortName }}Node"
      *matTreeNodeDef="let node"
      matTreeNodePadding="2px"
    >
      <button mat-icon-button (click)="this.open(node)">
        <mat-icon class="mat-icon" data-cy="open-node">{{
          getFileIcon(node)
        }}</mat-icon>
      </button>
      {{ node.shortName }}

      <span class="spacer"></span>

      <div *ngIf="node.canWrite" class="menu" data-cy="folder-menu">
        <button
          mat-icon-button
          style="color: gray"
          [matMenuTriggerFor]="folder_menu"
        >
          <mat-icon class="mat-icon" title="Options">more_horiz</mat-icon>
        </button>
        <mat-menu #folder_menu="matMenu">
          <button mat-menu-item (click)="this.downloadFile(node)">
            Download
          </button>
          <button mat-menu-item (click)="this.deleteFile(node)">
            Delete File
          </button>
        </mat-menu>
      </div>
    </mat-tree-node>
    <!-- NODE FOR FILES -->

    <!-- NODE FOR FOLDERS -->
    <mat-tree-node
      id="{{ node.shortName }}Node"
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding="2px"
      data-cy="tree-node"
    >
      <button
        mat-icon-button
        [attr.aria-label]="'Toggle ' + node.shortName"
        matTreeNodeToggle
        id="{{ node.shortName }}_expand"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "folder_open" : "folder" }}
        </mat-icon>
      </button>

      <span>{{ node.shortName }}</span>

      <mat-progress-bar
        *ngIf="node.isLoading"
        mode="indeterminate"
        class="example-tree-progress-bar"
      ></mat-progress-bar>

      <span class="spacer"></span>

      <div class="menu" data-cy="folder-menu">
        <button mat-icon-button style="color: gray" [matMenuTriggerFor]="menu">
          <mat-icon class="mat-icon" title="Options">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="this.downloadFolder(node)">
            Download
          </button>
          <button mat-menu-item (click)="this.open(node)">Open Folder</button>
          <button
            *ngIf="node.canWrite"
            mat-menu-item
            (click)="this.upload(node)"
          >
            Upload Files
          </button>
          <button
            *ngIf="node.canWrite"
            mat-menu-item
            (click)="this.shareFolder(node)"
          >
            Share Folder
          </button>
          <button
            *ngIf="node.canWrite"
            mat-menu-item
            (click)="this.createFolder(node)"
          >
            Create Folder
          </button>
          <button
            *ngIf="node.canWrite"
            mat-menu-item
            (click)="this.createFile(node)"
          >
            Create File
          </button>
          <button
            *ngIf="node.canWrite"
            mat-menu-item
            (click)="this.deleteFolder(node)"
          >
            Delete Folder
          </button>
        </mat-menu>
      </div>
    </mat-tree-node>
    <!-- NODE FOR FOLDERS -->
  </mat-tree>
</div>
