<div class="box">
  <mat-tree
    *ngIf="dataSource"
    [dataSource]="dataSource"
    [treeControl]="treeControl"
  >
    <!-- NODE FOR FILES -->
    <mat-tree-node
      id="{{ node.shortName }}Node"
      *matTreeNodeDef="let node"
      matTreeNodePadding="2px"
    >
      <button mat-icon-button disabled></button>
      {{ node.shortName }}

      <button
        mat-icon-button
        (click)="this.open(node)"
        style="margin-left: 20px"
      >
        <mat-icon class="mat-icon" title="Open in editor">open_in_new</mat-icon>
      </button>
    </mat-tree-node>
    <!-- NODE FOR FILES -->

    <!-- NODE FOR FOLDERS -->
    <mat-tree-node
      id="{{ node.shortName }}Node"
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding="2px"
      data-cy="tree-node"
    >
      <button
        mat-icon-button
        [attr.aria-label]="'Toggle ' + node.shortName"
        matTreeNodeToggle
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "folder_open" : "folder" }}
        </mat-icon>
      </button>

      <span>{{ node.shortName }}</span>

      <mat-progress-bar
        *ngIf="node.isLoading"
        mode="indeterminate"
        class="example-tree-progress-bar"
      ></mat-progress-bar>

      <span class="spacer"></span>

      <div class="menu" data-cy="folder-menu">
        <button mat-icon-button style="color: gray" [matMenuTriggerFor]="menu">
          <mat-icon class="mat-icon" title="Options">more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="this.open(node)">Open Folder</button>
          <button mat-menu-item (click)="this.upload(node)">
            Upload Files
          </button>
          <button mat-menu-item (click)="this.create_folder(node)">
            Create Folder
          </button>
          <button mat-menu-item (click)="this.create_file(node)">
            Create File
          </button>
        </mat-menu>
      </div>
    </mat-tree-node>
    <!-- NODE FOR FOLDERS -->
  </mat-tree>
</div>
