<h1 mat-dialog-title>Share file via link</h1>

<div *ngIf="!this.link">
  <div mat-dialog-content>
    <section [formGroup]="access">
      <h4>What access would you like to grant your collaborators?</h4>
      <p>
        <mat-checkbox formControlName="read">Read</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="write">Write</mat-checkbox>
      </p>
    </section>
    <p>
      Your collaborators will be able to READ
      {{ this.access.value.write ? "and WRITE to " : "" }}
      <a [href]="data.fileUrl">{{ this.data.fileUrl }}</a>
    </p>
    <mat-progress-bar
      *ngIf="this.loading"
      mode="indeterminate"
    ></mat-progress-bar>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="createLink()">Create Link</button>
    <button mat-button (click)="cancel()">Close</button>
  </div>
</div>

<div *ngIf="this.link">
  <div mat-dialog-content>
    <p>
      Here is your freshly baked link for sharing the file with your
      collaborators.
    </p>
    <p>
      Click on the link to copy it to your clipboard or use one of the buttons
      below.
    </p>
    <div
      style="border: solid #e6964f; border-radius: 10px"
      (click)="copyLink()"
    >
      <small
        data-cy="sharing-link"
        style="
          width: 450px;
          word-wrap: break-word;
          display: inline-block;
          padding: 3px;
          color: gray;
        "
      >
        {{ this.link }}
      </small>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="copyLink()">Copy to clipboard</button>
    <button mat-button (click)="cancel()">Close</button>
  </div>
</div>
