<div class="container">
  <div class="content">
    <h3>{{ errorMsg }}</h3>
    <div *ngIf="fileUrl">
      <h3>
        You are editing <i>{{ fileUrl }}</i
        >!
      </h3>
      <div class="editor">
        <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="html"
          [disabled]="false"
          [placeholder]="'Type here...'"
        ></ngx-editor>
      </div>
      <br />
      <button
        mat-raised-button
        type="button"
        class="editor-button"
        (click)="closeFile(true)"
      >
        Save and close file
      </button>
      <button
        mat-raised-button
        type="button"
        class="editor-button"
        (click)="shareFileReadOnly()"
      >
        Share
      </button>
      <mat-slide-toggle class="editor-button" [(ngModel)]="autoSave"
        >Auto-Save</mat-slide-toggle
      >
      <button
        *ngIf="!autoSave"
        color="warn"
        mat-raised-button
        type="button"
        class="editor-button"
        (click)="closeFile(false)"
      >
        Close file without saving.
      </button>
    </div>
    <div *ngIf="!fileUrl">
      <h3>No filename given. Open an example file:</h3>
      <a
        mat-raised-button
        class="editor-button"
        [routerLink]="['/editor']"
        [queryParams]="{ file: getExampleUrl('ExampleFile0.txt') }"
        >Open <b>ExampleFile0.txt</b></a
      >
      <a
        mat-raised-button
        class="editor-button"
        [routerLink]="['/editor']"
        [queryParams]="{ file: getExampleUrl('ExampleFile1.txt') }"
        >Open <b>ExampleFile1.txt</b></a
      >
      <a
        mat-raised-button
        class="editor-button"
        [routerLink]="['/editor']"
        [queryParams]="{ file: getExampleUrl('ExampleFile2.txt') }"
        >Open <b>ExampleFile2.txt</b></a
      >
    </div>
  </div>
</div>
