<h3>Editor</h3>
<div *ngIf="fileUrl">
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [(ngModel)]="html"
      [disabled]="false"
      [placeholder]="'Type here...'"
    ></ngx-editor>
  </div>
  <button type="button" (click)="closeFile()">Close file</button>
</div>
<div *ngIf="!fileUrl">
  <h3>No filename given. Open an example file:</h3>
  <ul>
    <li>
      <a
        [routerLink]="['/editor']"
        [queryParams]="{ file: [getExampleUrl('document0.txt')] }"
        >document0.txt</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/editor']"
        [queryParams]="{ file: [getExampleUrl('document1.txt')] }"
        >document1.txt</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/editor']"
        [queryParams]="{ file: [getExampleUrl('document2.txt')] }"
        >document2.txt</a
      >
    </li>
  </ul>
</div>
