<h1 mat-dialog-title>Create Folder</h1>
<div mat-dialog-content class="create-dialog">
  <form class="create-form">
    <mat-form-field class="create-input" appearance="fill">
      <mat-label>Folder Name</mat-label>
      <input
        type="text"
        id="create-folder"
        matInput
        [formControl]="folderCreateFormControl"
        placeholder="myFolder"
      />
    </mat-form-field>
    <mat-error *ngIf="folderCreateFormControl.hasError('required')">
      Folder name is <strong>required</strong>
    </mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button id="close" mat-button (click)="close()">Cancel</button>
  <button id="create" mat-button (click)="createFolder()">Create</button>
</div>
