.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.large-icon {
  transform: scale(4);
  color: #e38c45;
  margin-bottom: 2rem;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
